.DS_Store
software/sys_controller/.cproject
software/sys_controller/.force_relink
software/sys_controller/.project
software/sys_controller/.settings/*
software/sys_controller/obj/*
db/*
sys/*
software/sys_controller_bsp/obj/*
output_files/*
incremental_db/*
.cproject
software/*/.settings/*
software/sys_controller/mem_init/hdl_sim/*
software/sys_controller_bsp/summary.html
software/sys_controller/sys_controller.objdump
software/sys_controller/sys_controller.map
software/sys_controller/sys_controller.elf
.qsys_edit/*
PLLJ_PLLSPE_INFO.txt
